<a href="/clientes"><center><h1>Insertar Clientes</h1></center></a>

<center><form method="POST">
    <label for="nombre_cliente">Nombre Cliente</label>
    <input type="text" id="nombre_cliente" name="nombre_cliente" placeholder="Nombre Cliente">
    <br>
    <label for="apellidos">Apellidos</label>
    <input type="text" id="apellidos_cliente" name="apellidos_cliente" placeholder="apellidos_cliente">
    <br>
    <label for="tipo_cliente">Tipo Cliente</label>
    <input type="text" id="tipo_cliente" name="tipo_cliente" placeholder="Tipo Cliente">
    <br>
    <label for="calle_numero">Calle No.</label>
    <input type="text" id="calle_numero" name="calle_numero" placeholder="calle_numero">
    <br>
    <button type="submit" class="btn btn-primary">Insert</button>
</form></center>